{% extends 'vacancies/my_company.html' %}

{% block title %}Моя компания{% endblock %}

{% block active_company %}

    <a class="nav-link active" href="{% url 'my_company' %}">1. Информация о&nbsp;компании</a>{% endblock %}

{% block my_company_container %}

{% load crispy_forms_tags %}

    <div class="card-body px-4 pb-4">
        <section class="tab-pane fade show active">
            <h2 class="h4 pt-2 pb-3">Информация о&nbsp;компании</h2>
            {% crispy form %}
        </section>
    </div>

{% endblock %}