{% extends 'vacancies/base.html' %}

{% block style %}
    body {
    background-color: #F6F2E6;
    }
{% endblock %}

{% block container %}
    <main class="container mt-3 pb-5">
        <div class="row mt-5">
            <div class="col-12 col-lg-4">
                <aside class="pt-3 pb-4 px-4 mb-5 card">
                    <h1 class="h4 pt-2 pb-2">Моя компания</h1>
                    <div class="nav flex-column nav-pills">
                        {% block active_company %}<a class="nav-link" href="{% url 'my_company' %}">1. Информация о&nbsp;компании</a>{% endblock %}
                        {% block active_vacancies %}<a class="nav-link" href="{% url 'my_vacancies' %}">2. Вакансии</a>{% endblock %}
                    </div>
                </aside>
            </div>
            <div class="col-12 col-lg-8">
                <div class="card">
                    {% block my_company_container %}{% endblock %}
                </div>
            </div>
        </div>
    </main>

{% endblock %}