{% extends 'base.html' %}
{% block container %}

    <main class="container mt-3">
        <div>
            <h1 class="h1 text-center mx-auto mt-4 pt-5" style="font-size: 70px;"><strong>Поиск вакансий</strong></h1>
            <p class="text-center pt-1">Найдено {{ count_of_vacancies }} вакансий</p>
            <div class="row mt-4"></div>
            {% for vacancy in vacancies %}
                {% include 'vacancy_card.html' %}
            {% endfor %}
        </div>
    </main>
{% endblock %}